@{
    ViewBag.Title = "Usuarios";
}
<div class="paddingh1">
    <div class="styleh2">
        <h2>Usuarios</h2>
    </div>
</div>

<table class="table table-striped table-dark">
    <tr>
        <th>
            ID
        </th>
        <th>
            EMAIL
        </th>
        <th>
            USERNAME
        </th>
    </tr>

    @foreach (var item in ViewData["usuarios"] as IEnumerable<Final_Web.Models.Listas>)
    {
        <tr>
            <td>@item.listaUsuarios.Id/td>
            <td>@item.listaUsuarios.Email </td>

            <td>@item.listaUsuarios.UserName</td>


        </tr>


    }
</table>